<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.lurocha.npm-autoupdate</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>/Users/lurocha/.local/bin/npm-omni-update.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>43200</integer>
    <key>StandardOutPath</key>
    <string>/Users/lurocha/Library/Logs/npm-autoupdate.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/lurocha/Library/Logs/npm-autoupdate.log</string>
</dict>
</plist>
